services:
  back:
    build: ./back
    ports:
      - "8080:8080"
    networks:
      - app-network

  front:
    build: ./front
    ports:
      - "80:80"
    depends_on:
      - back
    networks:
      - app-network

networks:
  app-network:
    driver: bridge